[Unit]
Description=ControlDeck

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=%h/.local/bin/controldeck
Restart=always
RestartSec=10
StandardOutput=journal

[Install]
WantedBy=default.target
