[Unit]
Description=ControlDeck
ConditionFileIsExecutable=/usr/bin/controldeck
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
TimeoutStartSec=30
#ExecStartPre=/bin/sh -c 'source /etc/profile'
ExecStart=/usr/bin/controldeck -D
Restart=on-failure
RestartSec=4
StandardOutput=journal

[Install]
WantedBy=default.target
